aiodns @ file:///private/tmp/nix-build-python3.10-aiodns-3.0.0.drv-0/source/dist/aiodns-3.0.0-py3-none-any.whl
aiohttp @ file:///private/tmp/nix-build-python3.10-aiohttp-3.8.4.drv-0/aiohttp-3.8.4/dist/aiohttp-3.8.4-cp310-cp310-macosx_10_12_x86_64.whl
aiosignal @ file:///private/tmp/nix-build-python3.10-aiosignal-1.3.1.drv-0/source/dist/aiosignal-1.3.1-py3-none-any.whl
altgraph @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/altgraph-0.17.2-py2.py3-none-any.whl
anyio @ file:///private/tmp/nix-build-python3.10-anyio-3.6.2.drv-0/source/dist/anyio-3.6.2-py3-none-any.whl
appdirs @ file:///private/tmp/nix-build-python3.10-appdirs-1.4.4.drv-0/appdirs-1.4.4/dist/appdirs-1.4.4-py2.py3-none-any.whl
appnope @ file:///private/tmp/nix-build-python3.10-appnope-0.1.3.drv-0/source/dist/appnope-0.1.3-py2.py3-none-any.whl
argon2-cffi @ file:///private/tmp/nix-build-python3.10-argon2-cffi-21.3.0.drv-0/argon2-cffi-21.3.0/dist/argon2_cffi-21.3.0-py3-none-any.whl
argon2-cffi-bindings @ file:///private/tmp/nix-build-python3.10-argon2-cffi-bindings-21.2.0.drv-0/argon2-cffi-bindings-21.2.0/dist/argon2_cffi_bindings-21.2.0-cp310-abi3-macosx_10_12_x86_64.whl
arrow @ file:///private/tmp/nix-build-python3.10-arrow-1.2.3.drv-0/arrow-1.2.3/dist/arrow-1.2.3-py3-none-any.whl
asttokens @ file:///private/tmp/nix-build-python3.10-asttokens-2.2.1.drv-0/asttokens-2.2.1/dist/asttokens-2.2.1-py2.py3-none-any.whl
async-generator @ file:///private/tmp/nix-build-python3.10-async-generator-1.10.drv-0/async_generator-1.10/dist/async_generator-1.10-py3-none-any.whl
async-timeout @ file:///private/tmp/nix-build-python3.10-async-timeout-4.0.2.drv-0/async-timeout-4.0.2/dist/async_timeout-4.0.2-py3-none-any.whl
attrs @ file:///private/tmp/nix-build-python3.10-attrs-22.2.0.drv-0/attrs-22.2.0/dist/attrs-22.2.0-py3-none-any.whl
Babel @ file:///private/tmp/nix-build-python3.10-babel-2.12.1.drv-0/Babel-2.12.1/dist/Babel-2.12.1-py3-none-any.whl
backcall @ file:///private/tmp/nix-build-python3.10-backcall-0.2.0.drv-0/backcall-0.2.0/dist/backcall-0.2.0-py3-none-any.whl
bcrypt @ file:///private/tmp/nix-build-python3.10-bcrypt-4.0.0.drv-0/bcrypt-4.0.0/dist/bcrypt-4.0.0-cp310-cp310-macosx_10_12_x86_64.whl
beautifulsoup4 @ file:///private/tmp/nix-build-python3.10-beautifulsoup4-4.11.2.drv-0/beautifulsoup4-4.11.2/dist/beautifulsoup4-4.11.2-py3-none-any.whl
bleach @ file:///private/tmp/nix-build-python3.10-bleach-6.0.0.drv-0/bleach-6.0.0/dist/bleach-6.0.0-py3-none-any.whl
Brotli @ file:///private/tmp/nix-build-python3.10-brotli-1.0.9.drv-0/source/dist/Brotli-1.0.9-cp310-cp310-macosx_10_12_x86_64.whl
brotlicffi @ file:///private/tmp/nix-build-python3.10-brotlicffi-1.0.9.2.drv-0/source/dist/brotlicffi-1.0.9.2-cp310-abi3-macosx_10_12_x86_64.whl
cattrs @ file:///private/tmp/nix-build-python3.10-cattrs-22.2.0.drv-0/source/dist/cattrs-22.2.0-py3-none-any.whl
certifi @ file:///private/tmp/nix-build-python3.10-certifi-2022.12.07.drv-0/source/dist/certifi-2022.12.7-py3-none-any.whl
cffi @ file:///private/tmp/nix-build-python3.10-cffi-1.15.1.drv-0/cffi-1.15.1/dist/cffi-1.15.1-cp310-cp310-macosx_10_12_x86_64.whl
chardet @ file:///private/tmp/nix-build-python3.10-chardet-5.1.0.drv-0/chardet-5.1.0/dist/chardet-5.1.0-py3-none-any.whl
charset-normalizer @ file:///private/tmp/nix-build-python3.10-charset-normalizer-3.0.1.drv-0/source/dist/charset_normalizer-3.0.1-py3-none-any.whl
click @ file:///private/tmp/nix-build-python3.10-click-8.1.3.drv-0/click-8.1.3/dist/click-8.1.3-py3-none-any.whl
cloudpickle @ file:///private/tmp/nix-build-python3.10-cloudpickle-2.2.1.drv-0/cloudpickle-2.2.1/dist/cloudpickle-2.2.1-py3-none-any.whl
comm @ file:///private/tmp/nix-build-python3.10-comm-0.1.2.drv-0/source/dist/comm-0.1.2-py3-none-any.whl
contourpy @ file:///private/tmp/nix-build-python3.10-contourpy-1.0.7.drv-0/source/dist/contourpy-1.0.7-cp310-cp310-macosx_10_12_x86_64.whl
cryptography @ file:///private/tmp/nix-build-python3.10-cryptography-39.0.1.drv-0/cryptography-39.0.1/dist/cryptography-39.0.1-cp310-cp310-macosx_10_12_x86_64.whl
curio @ file:///private/tmp/nix-build-python3.10-curio-1.6.drv-0/curio-1.6/dist/curio-1.6-py3-none-any.whl
cycler @ file:///private/tmp/nix-build-python3.10-cycler-0.11.0.drv-0/cycler-0.11.0/dist/cycler-0.11.0-py3-none-any.whl
dbus-python==1.2.18
decorator @ file:///private/tmp/nix-build-python3.10-decorator-5.1.1.drv-0/decorator-5.1.1/dist/decorator-5.1.1-py3-none-any.whl
defusedxml @ file:///private/tmp/nix-build-python3.10-defusedxml-0.7.1.drv-0/defusedxml-0.7.1/dist/defusedxml-0.7.1-py2.py3-none-any.whl
Deprecated @ file:///private/tmp/nix-build-python3.10-deprecated-1.2.13.drv-0/Deprecated-1.2.13/dist/Deprecated-1.2.13-py2.py3-none-any.whl
distlib @ file:///private/tmp/nix-build-python3.10-distlib-0.3.6.drv-0/distlib-0.3.6/dist/distlib-0.3.6-py2.py3-none-any.whl
docutils @ file:///private/tmp/nix-build-python3.10-docutils-0.19.drv-0/docutils-0.19/dist/docutils-0.19-py3-none-any.whl
entrypoints @ file:///private/tmp/nix-build-python3.10-entrypoints-0.4.drv-0/entrypoints-0.4/dist/entrypoints-0.4-py3-none-any.whl
exceptiongroup @ file:///private/tmp/nix-build-python3.10-exceptiongroup-1.1.0.drv-0/source/dist/exceptiongroup-1.1.0-py3-none-any.whl
executing @ file:///private/tmp/nix-build-python3.10-executing-1.2.0.drv-0/source/dist/executing-1.2.0-py2.py3-none-any.whl
fastjsonschema @ file:///private/tmp/nix-build-python3.10-fastjsonschema-2.16.2.drv-0/source/dist/fastjsonschema-2.16.2-py3-none-any.whl
faust-cchardet @ file:///private/tmp/nix-build-python3.10-faust-cchardet-2.1.18.drv-0/source/dist/faust_cchardet-2.1.18-cp310-cp310-macosx_10_12_x86_64.whl
filelock @ file:///private/tmp/nix-build-python3.10-filelock-3.9.0.drv-0/filelock-3.9.0/dist/filelock-3.9.0-py3-none-any.whl
Flask @ file:///private/tmp/nix-build-python3.10-flask-2.2.3.drv-0/Flask-2.2.3/dist/Flask-2.2.3-py3-none-any.whl
Flask-Cors @ file:///private/tmp/nix-build-python3.10-Flask-Cors-3.0.10.drv-0/Flask-Cors-3.0.10/dist/Flask_Cors-3.0.10-py2.py3-none-any.whl
Flask-HTTPAuth @ file:///private/tmp/nix-build-python3.10-flask-httpauth-4.7.0.drv-0/Flask-HTTPAuth-4.7.0/dist/Flask_HTTPAuth-4.7.0-py3-none-any.whl
fonttools @ file:///private/tmp/nix-build-python3.10-fonttools-4.38.0.drv-0/source/dist/fonttools-4.38.0-py3-none-any.whl
fqdn @ file:///private/tmp/nix-build-python3.10-fqdn-1.5.1.drv-0/source/dist/fqdn-1.5.1-py3-none-any.whl
frozenlist @ file:///private/tmp/nix-build-python3.10-frozenlist-1.3.3.drv-0/source/dist/frozenlist-1.3.3-cp310-cp310-macosx_10_12_x86_64.whl
fsspec @ file:///private/tmp/nix-build-python3.10-fsspec-2022.10.0.drv-0/source/dist/fsspec-2022.10.0-py3-none-any.whl
future @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/future-0.18.2-py3-none-any.whl
gssapi @ file:///private/tmp/nix-build-python3.10-gssapi-1.8.2.drv-0/source/dist/gssapi-1.8.2-cp310-cp310-macosx_10_12_x86_64.whl
gunicorn @ file:///private/tmp/nix-build-python3.10-gunicorn-20.1.0.drv-0/source/dist/gunicorn-20.1.0-py3-none-any.whl
html5lib @ file:///private/tmp/nix-build-python3.10-html5lib-1.1.drv-0/html5lib-1.1/dist/html5lib-1.1-py2.py3-none-any.whl
idna @ file:///private/tmp/nix-build-python3.10-idna-3.4.drv-0/idna-3.4/dist/idna-3.4-py3-none-any.whl
iniconfig @ file:///private/tmp/nix-build-python3.10-iniconfig-2.0.0.drv-0/iniconfig-2.0.0/dist/iniconfig-2.0.0-py3-none-any.whl
ipykernel @ file:///private/tmp/nix-build-python3.10-ipykernel-6.21.2.drv-0/ipykernel-6.21.2/dist/ipykernel-6.21.2-py3-none-any.whl
ipython @ file:///private/tmp/nix-build-python3.10-ipython-8.11.0.drv-0/ipython-8.11.0/dist/ipython-8.11.0-py3-none-any.whl
ipython-genutils @ file:///private/tmp/nix-build-python3.10-ipython_genutils-0.2.0.drv-0/ipython_genutils-0.2.0/dist/ipython_genutils-0.2.0-py2.py3-none-any.whl
ipywidgets @ file:///private/tmp/nix-build-python3.10-ipywidgets-8.0.4.drv-0/ipywidgets-8.0.4/dist/ipywidgets-8.0.4-py3-none-any.whl
isoduration @ file:///private/tmp/nix-build-python3.10-isoduration-20.11.0.drv-0/source/dist/isoduration-20.11.0-py3-none-any.whl
itsdangerous @ file:///private/tmp/nix-build-python3.10-itsdangerous-2.1.2.drv-0/itsdangerous-2.1.2/dist/itsdangerous-2.1.2-py3-none-any.whl
jedi @ file:///private/tmp/nix-build-python3.10-jedi-0.18.2.drv-0/source/dist/jedi-0.18.2-py2.py3-none-any.whl
Jinja2 @ file:///private/tmp/nix-build-python3.10-Jinja2-3.1.2.drv-0/Jinja2-3.1.2/dist/Jinja2-3.1.2-py3-none-any.whl
joblib @ file:///private/tmp/nix-build-python3.10-joblib-1.2.0.drv-0/joblib-1.2.0/dist/joblib-1.2.0-py3-none-any.whl
jsonpointer @ file:///private/tmp/nix-build-python3.10-jsonpointer-2.3.drv-0/jsonpointer-2.3/dist/jsonpointer-2.3-py2.py3-none-any.whl
jsonschema @ file:///private/tmp/nix-build-python3.10-jsonschema-4.17.3.drv-0/jsonschema-4.17.3/dist/jsonschema-4.17.3-py3-none-any.whl
jupyter @ file:///private/tmp/nix-build-python3.10-jupyter-1.0.0.drv-0/jupyter-1.0.0/dist/jupyter-1.0.0-py2.py3-none-any.whl
jupyter-console @ file:///private/tmp/nix-build-python3.10-jupyter_console-6.6.1.drv-0/jupyter_console-6.6.1/dist/jupyter_console-6.6.1-py3-none-any.whl
jupyter-events @ file:///private/tmp/nix-build-python3.10-jupyter-events-0.6.3.drv-0/source/dist/jupyter_events-0.6.3-py3-none-any.whl
jupyter_client @ file:///private/tmp/nix-build-python3.10-jupyter_client-8.0.3.drv-0/jupyter_client-8.0.3/dist/jupyter_client-8.0.3-py3-none-any.whl
jupyter_core @ file:///private/tmp/nix-build-python3.10-jupyter-core-5.2.0.drv-0/source/dist/jupyter_core-5.2.0-py3-none-any.whl
jupyter_server @ file:///private/tmp/nix-build-python3.10-jupyter-server-2.0.6.drv-0/jupyter_server-2.0.6/dist/jupyter_server-2.0.6-py3-none-any.whl
jupyter_server_terminals @ file:///private/tmp/nix-build-python3.10-jupyter-server-terminals-0.4.4.drv-0/source/dist/jupyter_server_terminals-0.4.4-py3-none-any.whl
jupyterlab-pygments @ file:///private/tmp/nix-build-python3.10-jupyterlab_pygments-0.2.2.drv-0/jupyterlab_pygments-0.2.2/dist/jupyterlab_pygments-0.2.2-py2.py3-none-any.whl
jupyterlab-widgets @ file:///private/tmp/nix-build-python3.10-jupyterlab-widgets-3.0.5.drv-0/jupyterlab_widgets-3.0.5/dist/jupyterlab_widgets-3.0.5-py3-none-any.whl
kiwisolver @ file:///private/tmp/nix-build-python3.10-kiwisolver-1.4.4.drv-0/kiwisolver-1.4.4/dist/kiwisolver-1.4.4-cp310-cp310-macosx_10_12_x86_64.whl
lxml @ file:///private/tmp/nix-build-python3.10-lxml-4.9.2.drv-0/source/dist/lxml-4.9.2-cp310-cp310-macosx_10_12_x86_64.whl
lz4 @ file:///private/tmp/nix-build-python3.10-python-lz4-4.3.2.drv-0/source/dist/lz4-4.3.2-cp310-cp310-macosx_10_12_x86_64.whl
macholib @ file:///System/Volumes/Data/SWE/Apps/DT/BuildRoots/BuildRoot2/ActiveBuildRoot/Library/Caches/com.apple.xbs/Sources/python3/python3-124/macholib-1.15.2-py2.py3-none-any.whl
markdown-it-py @ file:///private/tmp/nix-build-python3.10-markdown-it-py-2.2.0.drv-0/source/dist/markdown_it_py-2.2.0-py3-none-any.whl
MarkupSafe @ file:///private/tmp/nix-build-python3.10-markupsafe-2.1.2.drv-0/MarkupSafe-2.1.2/dist/MarkupSafe-2.1.2-cp310-cp310-macosx_10_12_x86_64.whl
matplotlib @ file:///private/tmp/nix-build-python3.10-matplotlib-3.7.0.drv-0/matplotlib-3.7.0/dist/matplotlib-3.7.0-cp310-cp310-macosx_10_12_x86_64.whl
matplotlib-inline @ file:///private/tmp/nix-build-python3.10-matplotlib-inline-0.1.6.drv-0/matplotlib-inline-0.1.6/dist/matplotlib_inline-0.1.6-py3-none-any.whl
mdurl @ file:///private/tmp/nix-build-python3.10-mdurl-0.1.2.drv-0/source/dist/mdurl-0.1.2-py3-none-any.whl
mistune @ file:///private/tmp/nix-build-python3.10-mistune-2.0.5.drv-0/mistune-2.0.5/dist/mistune-2.0.5-py2.py3-none-any.whl
multidict @ file:///private/tmp/nix-build-python3.10-multidict-6.0.4.drv-0/multidict-6.0.4/dist/multidict-6.0.4-cp310-cp310-macosx_10_12_x86_64.whl
nbclassic @ file:///private/tmp/nix-build-python3.10-nbclassic-0.5.2.drv-0/nbclassic-0.5.2/dist/nbclassic-0.5.2-py3-none-any.whl
nbclient @ file:///private/tmp/nix-build-python3.10-nbclient-0.7.2.drv-0/source/dist/nbclient-0.7.2-py3-none-any.whl
nbconvert @ file:///private/tmp/nix-build-python3.10-nbconvert-7.2.5.drv-0/nbconvert-7.2.5/dist/nbconvert-7.2.5-py3-none-any.whl
nbformat @ file:///private/tmp/nix-build-python3.10-nbformat-5.7.3.drv-0/nbformat-5.7.3/dist/nbformat-5.7.3-py3-none-any.whl
nest-asyncio @ file:///private/tmp/nix-build-python3.10-nest_asyncio-1.5.6.drv-0/nest_asyncio-1.5.6/dist/nest_asyncio-1.5.6-py3-none-any.whl
notebook @ file:///private/tmp/nix-build-python3.10-notebook-6.5.2.drv-0/notebook-6.5.2/dist/notebook-6.5.2-py3-none-any.whl
notebook_shim @ file:///private/tmp/nix-build-python3.10-notebook-shim-0.2.2.drv-0/source/dist/notebook_shim-0.2.2-py3-none-any.whl
numpy @ file:///private/tmp/nix-build-python3.10-numpy-1.24.2.drv-0/numpy-1.24.2/dist/numpy-1.24.2-cp310-cp310-macosx_10_12_x86_64.whl
olefile @ file:///private/tmp/nix-build-python3.10-olefile-0.46.drv-0/olefile-0.46/dist/olefile-0.46-py2.py3-none-any.whl
outcome @ file:///private/tmp/nix-build-python3.10-outcome-1.2.0.drv-0/outcome-1.2.0/dist/outcome-1.2.0-py2.py3-none-any.whl
packaging @ file:///private/tmp/nix-build-python3.10-packaging-23.0.drv-0/packaging-23.0/dist/packaging-23.0-py3-none-any.whl
pandas @ file:///private/tmp/nix-build-python3.10-pandas-1.5.3.drv-0/pandas-1.5.3/dist/pandas-1.5.3-cp310-cp310-macosx_10_12_x86_64.whl
pandocfilters @ file:///private/tmp/nix-build-python3.10-pandocfilters-1.5.0.drv-0/pandocfilters-1.5.0/dist/pandocfilters-1.5.0-py2.py3-none-any.whl
paramiko @ file:///private/tmp/nix-build-python3.10-paramiko-2.11.0.drv-0/paramiko-2.11.0/dist/paramiko-2.11.0-py2.py3-none-any.whl
parso @ file:///private/tmp/nix-build-python3.10-parso-0.8.3.drv-0/parso-0.8.3/dist/parso-0.8.3-py2.py3-none-any.whl
path @ file:///private/tmp/nix-build-python3.10-path-16.6.0.drv-0/path-16.6.0/dist/path-16.6.0-py3-none-any.whl
pexpect @ file:///private/tmp/nix-build-python3.10-pexpect-4.8.0.drv-0/pexpect-4.8.0/dist/pexpect-4.8.0-py2.py3-none-any.whl
pickleshare @ file:///private/tmp/nix-build-python3.10-pickleshare-0.7.5.drv-0/pickleshare-0.7.5/dist/pickleshare-0.7.5-py2.py3-none-any.whl
Pillow @ file:///private/tmp/nix-build-python3.10-pillow-9.4.0.drv-0/Pillow-9.4.0/dist/Pillow-9.4.0-cp310-cp310-macosx_10_12_x86_64.whl
platformdirs @ file:///private/tmp/nix-build-python3.10-platformdirs-3.0.0.drv-0/source/dist/platformdirs-3.0.0-py3-none-any.whl
plotly @ file:///private/tmp/nix-build-python3.10-plotly-5.13.1.drv-0/plotly-5.13.1/dist/plotly-5.13.1-py2.py3-none-any.whl
pluggy @ file:///private/tmp/nix-build-python3.10-pluggy-1.0.0.drv-0/pluggy-1.0.0/dist/pluggy-1.0.0-py2.py3-none-any.whl
prometheus-client @ file:///private/tmp/nix-build-python3.10-prometheus-client-0.16.0.drv-0/source/dist/prometheus_client-0.16.0-py3-none-any.whl
prompt-toolkit @ file:///private/tmp/nix-build-python3.10-prompt-toolkit-3.0.38.drv-0/prompt_toolkit-3.0.38/dist/prompt_toolkit-3.0.38-py3-none-any.whl
psutil @ file:///private/tmp/nix-build-python3.10-psutil-5.9.4.drv-0/psutil-5.9.4/dist/psutil-5.9.4-cp310-abi3-macosx_10_12_x86_64.whl
ptyprocess @ file:///private/tmp/nix-build-python3.10-ptyprocess-0.7.0.drv-0/ptyprocess-0.7.0/dist/ptyprocess-0.7.0-py3-none-any.whl
pure-eval @ file:///private/tmp/nix-build-python3.10-pure_eval-0.2.2.drv-0/source/dist/pure_eval-0.2.2-py3-none-any.whl
py @ file:///private/tmp/nix-build-python3.10-py-1.11.0.drv-0/py-1.11.0/dist/py-1.11.0-py2.py3-none-any.whl
pyarrow @ file:///private/tmp/nix-build-python3.10-pyarrow-11.0.0.drv-0/apache-arrow-11.0.0/python/dist/pyarrow-11.0.0-cp310-cp310-macosx_10_12_x86_64.whl
pyasn1 @ file:///private/tmp/nix-build-python3.10-pyasn1-0.4.8.drv-0/pyasn1-0.4.8/dist/pyasn1-0.4.8-py2.py3-none-any.whl
pycares @ file:///private/tmp/nix-build-python3.10-pycares-4.3.0.drv-0/pycares-4.3.0/dist/pycares-4.3.0-cp310-cp310-macosx_10_12_x86_64.whl
pycparser @ file:///private/tmp/nix-build-python3.10-pycparser-2.21.drv-0/pycparser-2.21/dist/pycparser-2.21-py2.py3-none-any.whl
PyGithub @ file:///private/tmp/nix-build-python3.10-pygithub-1.58.0.drv-0/source/dist/PyGithub-1.58.0-py3-none-any.whl
Pygments @ file:///private/tmp/nix-build-python3.10-pygments-2.14.0.drv-0/Pygments-2.14.0/dist/Pygments-2.14.0-py3-none-any.whl
PyJWT @ file:///private/tmp/nix-build-python3.10-pyjwt-2.6.0.drv-0/PyJWT-2.6.0/dist/PyJWT-2.6.0-py3-none-any.whl
PyNaCl @ file:///private/tmp/nix-build-python3.10-pynacl-1.5.0.drv-0/PyNaCl-1.5.0/dist/PyNaCl-1.5.0-cp310-cp310-macosx_10_12_x86_64.whl
pyparsing @ file:///private/tmp/nix-build-python3.10-pyparsing-3.0.9.drv-0/source/dist/pyparsing-3.0.9-py3-none-any.whl
PyQt5 @ file:///private/tmp/nix-build-python3.10-PyQt5-5.15.9.drv-0/PyQt5-5.15.9/dist/PyQt5-5.15.9-cp37-abi3-macosx_10_13_x86_64.whl
PyQt5-sip @ file:///private/tmp/nix-build-python3.10-pyqt5-sip-12.11.0.drv-0/PyQt5_sip-12.11.0/dist/PyQt5_sip-12.11.0-cp310-cp310-macosx_10_12_x86_64.whl
pyrsistent @ file:///private/tmp/nix-build-python3.10-pyrsistent-0.19.3.drv-0/pyrsistent-0.19.3/dist/pyrsistent-0.19.3-cp310-cp310-macosx_10_12_x86_64.whl
PySocks @ file:///private/tmp/nix-build-python3.10-pysocks-1.7.1.drv-0/PySocks-1.7.1/dist/PySocks-1.7.1-py3-none-any.whl
pyspnego @ file:///private/tmp/nix-build-python3.10-pyspnego-0.8.0.drv-0/source/dist/pyspnego-0.8.0-py3-none-any.whl
pytest @ file:///private/tmp/nix-build-python3.10-pytest-7.2.1.drv-0/pytest-7.2.1/dist/pytest-7.2.1-py3-none-any.whl
python-dateutil @ file:///private/tmp/nix-build-python3.10-python-dateutil-2.8.2.drv-0/python-dateutil-2.8.2/dist/python_dateutil-2.8.2-py2.py3-none-any.whl
python-dotenv @ file:///private/tmp/nix-build-python3.10-python-dotenv-1.0.0.drv-0/python-dotenv-1.0.0/dist/python_dotenv-1.0.0-py3-none-any.whl
python-json-logger @ file:///private/tmp/nix-build-python3.10-python-json-logger-2.0.7.drv-0/python-json-logger-2.0.7/dist/python_json_logger-2.0.7-py3-none-any.whl
python-lzf @ file:///private/tmp/nix-build-python3.10-python-lzf-0.2.4.drv-0/python-lzf-0.2.4/dist/python_lzf-0.2.4-cp310-cp310-macosx_10_12_x86_64.whl
python-socks @ file:///private/tmp/nix-build-python3.10-python-socks-2.1.1.drv-0/source/dist/python_socks-2.1.1-py3-none-any.whl
pytz @ file:///private/tmp/nix-build-python3.10-pytz-2022.7.1.drv-0/pytz-2022.7.1/dist/pytz-2022.7.1-py3-none-any.whl
PyYAML @ file:///private/tmp/nix-build-python3.10-pyyaml-6.0.drv-0/source/dist/PyYAML-6.0-cp310-cp310-macosx_10_12_x86_64.whl
pyzmq @ file:///private/tmp/nix-build-python3.10-pyzmq-24.0.1.drv-0/pyzmq-24.0.1/dist/pyzmq-24.0.1-cp310-cp310-macosx_10_12_x86_64.whl
qtconsole @ file:///private/tmp/nix-build-python3.10-qtconsole-5.4.0.drv-0/qtconsole-5.4.0/dist/qtconsole-5.4.0-py3-none-any.whl
QtPy @ file:///private/tmp/nix-build-python3.10-QtPy-2.3.0.drv-0/QtPy-2.3.0/dist/QtPy-2.3.0-py3-none-any.whl
rdbtools @ file:///private/tmp/nix-build-rdbtools-0.1.15.drv-0/rdbtools-0.1.15/dist/rdbtools-0.1.15-py3-none-any.whl
redis @ file:///private/tmp/nix-build-python3.10-redis-4.5.4.drv-0/redis-4.5.4/dist/redis-4.5.4-py3-none-any.whl
requests @ file:///private/tmp/nix-build-python3.10-requests-2.28.2.drv-0/requests-2.28.2/dist/requests-2.28.2-py3-none-any.whl
requests-cache @ file:///private/tmp/nix-build-python3.10-requests-cache-0.9.8.drv-0/source/dist/requests_cache-0.9.8-py3-none-any.whl
requests-unixsocket @ file:///private/tmp/nix-build-python3.10-requests-unixsocket-0.3.0.drv-0/requests-unixsocket-0.3.0/dist/requests_unixsocket-0.3.0-py2.py3-none-any.whl
rfc3339-validator @ file:///private/tmp/nix-build-python3.10-rfc3339-validator-0.1.4.drv-0/rfc3339_validator-0.1.4/dist/rfc3339_validator-0.1.4-py2.py3-none-any.whl
rfc3986-validator @ file:///private/tmp/nix-build-python3.10-rfc3986-validator-0.1.1.drv-0/rfc3986_validator-0.1.1/dist/rfc3986_validator-0.1.1-py2.py3-none-any.whl
rfc3987 @ file:///private/tmp/nix-build-python3.10-rfc3987-1.3.8.drv-0/rfc3987-1.3.8/dist/rfc3987-1.3.8-py2.py3-none-any.whl
rich @ file:///private/tmp/nix-build-python3.10-rich-13.3.1.drv-0/source/dist/rich-13.3.1-py3-none-any.whl
ruamel.base @ file:///private/tmp/nix-build-python3.10-ruamel-base-1.0.0.drv-0/ruamel.base-1.0.0/dist/ruamel.base-1.0.0-py3-none-any.whl
ruamel.yaml @ file:///private/tmp/nix-build-python3.10-ruamel-yaml-0.17.21.drv-0/ruamel.yaml-0.17.21/dist/ruamel.yaml-0.17.21-py3-none-any.whl
ruamel.yaml.clib @ file:///private/tmp/nix-build-python3.10-ruamel-yaml-clib-0.2.7.drv-0/hg-archive/dist/ruamel.yaml.clib-0.2.7-cp310-cp310-macosx_10_12_x86_64.whl
scikit-learn @ file:///private/tmp/nix-build-python3.10-scikit-learn-1.2.1.drv-0/scikit-learn-1.2.1/dist/scikit_learn-1.2.1-cp310-cp310-macosx_10_12_x86_64.whl
scipy @ file:///private/tmp/nix-build-python3.10-scipy-1.10.1.drv-0/scipy-1.10.1/dist/scipy-1.10.1-cp310-cp310-macosx_10_12_x86_64.whl
Send2Trash @ file:///private/tmp/nix-build-python3.10-Send2Trash-1.8.1b0.drv-0/source/dist/Send2Trash-1.8.1b0-py3-none-any.whl
simplejson @ file:///private/tmp/nix-build-python3.10-simplejson-3.18.3.drv-0/source/dist/simplejson-3.18.3-cp310-cp310-macosx_10_12_x86_64.whl
six @ file:///private/tmp/nix-build-python3.10-six-1.16.0.drv-0/six-1.16.0/dist/six-1.16.0-py2.py3-none-any.whl
smbprotocol @ file:///private/tmp/nix-build-python3.10-smbprotocol-1.10.1.drv-0/source/dist/smbprotocol-1.10.1-py3-none-any.whl
sniffio @ file:///private/tmp/nix-build-python3.10-sniffio-1.3.0.drv-0/sniffio-1.3.0/dist/sniffio-1.3.0-py3-none-any.whl
sortedcontainers @ file:///private/tmp/nix-build-python3.10-sortedcontainers-2.4.0.drv-0/source/dist/sortedcontainers-2.4.0-py3-none-any.whl
soupsieve @ file:///private/tmp/nix-build-python3.10-soupsieve-2.4.drv-0/soupsieve-2.4/dist/soupsieve-2.4-py3-none-any.whl
stack-data @ file:///private/tmp/nix-build-python3.10-stack-data-0.2.0.drv-0/source/dist/stack_data-0.2.0-py3-none-any.whl
tenacity @ file:///private/tmp/nix-build-python3.10-tenacity-8.2.1.drv-0/tenacity-8.2.1/dist/tenacity-8.2.1-py3-none-any.whl
terminado @ file:///private/tmp/nix-build-python3.10-terminado-0.17.1.drv-0/terminado-0.17.1/dist/terminado-0.17.1-py3-none-any.whl
threadpoolctl @ file:///private/tmp/nix-build-python3.10-threadpoolctl-3.1.0.drv-0/source/dist/threadpoolctl-3.1.0-py3-none-any.whl
tinycss2 @ file:///private/tmp/nix-build-python3.10-tinycss2-1.1.1.drv-0/source/dist/tinycss2-1.1.1-py3-none-any.whl
tinydb @ file:///private/tmp/nix-build-python3.10-tinydb-4.7.1.drv-0/source/dist/tinydb-4.7.1-py3-none-any.whl
toml @ file:///private/tmp/nix-build-python3.10-toml-0.10.2.drv-0/toml-0.10.2/dist/toml-0.10.2-py2.py3-none-any.whl
tomli @ file:///private/tmp/nix-build-python3.10-tomli-2.0.1.drv-0/source/dist/tomli-2.0.1-py3-none-any.whl
tornado @ file:///private/tmp/nix-build-python3.10-tornado-6.2.0.drv-0/source/dist/tornado-6.2-cp37-abi3-macosx_10_12_x86_64.whl
tqdm @ file:///private/tmp/nix-build-python3.10-tqdm-4.64.1.drv-0/tqdm-4.64.1/dist/tqdm-4.64.1-py2.py3-none-any.whl
traitlets @ file:///private/tmp/nix-build-python3.10-traitlets-5.9.0.drv-0/traitlets-5.9.0/dist/traitlets-5.9.0-py3-none-any.whl
trio @ file:///private/tmp/nix-build-python3.10-trio-0.22.0.drv-0/trio-0.22.0/dist/trio-0.22.0-py3-none-any.whl
typing_extensions @ file:///private/tmp/nix-build-python3.10-typing-extensions-4.5.0.drv-0/typing_extensions-4.5.0/dist/typing_extensions-4.5.0-py3-none-any.whl
uri-template @ file:///private/tmp/nix-build-python3.10-uri-template-1.2.0.drv-0/source/dist/uri_template-1.2.0-py3-none-any.whl
url-normalize @ file:///private/tmp/nix-build-python3.10-url-normalize-1.4.3.drv-0/source/dist/url_normalize-1.4.3-py2.py3-none-any.whl
urllib3 @ file:///private/tmp/nix-build-python3.10-urllib3-1.26.14.drv-0/urllib3-1.26.14/dist/urllib3-1.26.14-py2.py3-none-any.whl
virtualenv @ file:///private/tmp/nix-build-python3.10-virtualenv-20.19.0.drv-0/virtualenv-20.19.0/dist/virtualenv-20.19.0-py3-none-any.whl
wcwidth @ file:///private/tmp/nix-build-python3.10-wcwidth-0.2.6.drv-0/wcwidth-0.2.6/dist/wcwidth-0.2.6-py2.py3-none-any.whl
webcolors @ file:///private/tmp/nix-build-python3.10-webcolors-1.12.drv-0/webcolors-1.12/dist/webcolors-1.12-py3-none-any.whl
webencodings @ file:///private/tmp/nix-build-python3.10-webencodings-0.5.1.drv-0/webencodings-0.5.1/dist/webencodings-0.5.1-py2.py3-none-any.whl
websocket-client @ file:///private/tmp/nix-build-python3.10-websocket-client-1.5.1.drv-0/websocket-client-1.5.1/dist/websocket_client-1.5.1-py3-none-any.whl
Werkzeug @ file:///private/tmp/nix-build-python3.10-werkzeug-2.2.3.drv-0/Werkzeug-2.2.3/dist/Werkzeug-2.2.3-py3-none-any.whl
widgetsnbextension @ file:///private/tmp/nix-build-python3.10-widgetsnbextension-4.0.5.drv-0/widgetsnbextension-4.0.5/dist/widgetsnbextension-4.0.5-py3-none-any.whl
wrapt @ file:///private/tmp/nix-build-python3.10-wrapt-1.14.1.drv-0/source/dist/wrapt-1.14.1-cp310-cp310-macosx_10_12_x86_64.whl
yarl @ file:///private/tmp/nix-build-python3.10-yarl-1.8.2.drv-0/yarl-1.8.2/dist/yarl-1.8.2-cp310-cp310-macosx_10_12_x86_64.whl
